
<h1 class="container text-center mt-3 fw-bold fs-1 opacity-70">Welcome, Newcomer</h1>
<form class="container rounded rounded-5 mt-4 col-6 shadow-lg opacity-75 border-2">
    <div class="text-center">

        <h2 class="container text-light fw-bold pt-4 fs-2">Sign-up</h2>

        <div class="container pt-3 text-start">
            <div class="ps-5 pe-5 me-5 ms-5">
                <label for="username" class="form-label text-light pb-1 ps-1">Username</label>
                <input id="username" type="text" class="form-control opacity-75 p-3 rounded-4" placeholder="Enter username">
            </div>
        </div>

        <div class="container pt-3 text-start opacity-100">
            <div class="ps-5 pe-5 me-5 ms-5">
                <label for="email" class="form-label text-light pb-1 ps-1">E-mail</label>
                <input id="email" type="email" class="form-control opacity-75 p-3 rounded-4" placeholder="Enter e-mail">
            </div>
        </div>

        <div class="container pt-3 text-start ">
            <div class="ps-5 pe-5 me-5 ms-5">
                <label for="password" class="form-label text-light pb-1 ps-1">Password</label>
                <input id="password" type="password" class="form-control opacity-75 p-3 rounded-4" placeholder="Enter password">
            </div>
        </div>

        <div class="container pt-3 pb-4">
            <button class="col-6 btn btn-lg rounded-4 mt-4 opacity-75 fw-bolder shadow-lg text-light">Register</button>

        </div>
    </div>
</form>
