<div class="container-fluid p-4">
  <div class="row dashboard-container rounded-5 shadow-lg">

    <aside class="sidebar col-auto d-flex flex-column p-4">
      <div class="text-center mb-5 px-5">
        <img class="rounded-circle border border-3 border-opacity-25 border-light shadow"
             src="./../../../../..//public/icons/profile_icon.png"
             alt="Profile" width="80">
        <h6 class="text-light mt-3 opacity-75">Admin Account</h6>
      </div>

      <nav class="nav flex-column fw-bold">
        <a class="nav-link-custom active"><i class="bi bi-person"></i> Profile</a>
        <a class="nav-link-custom" (click)="navigateToDashboard()"><i class="bi bi-speedometer2"></i> Dashboard</a>
        <a class="nav-link-custom" (click)="navigateToUpdates()"><i class="bi-list-columns-reverse"></i> Transactions</a>
        <a class="nav-link-custom"><i class="bi bi-gear"></i> Settings</a>

        <div class="mt-auto">
          <hr class="text-light opacity-25">
          <a class="nav-link-custom text-danger" href="#"><i class="bi bi-box-arrow-right"></i> Logout</a>
        </div>
      </nav>
    </aside>

    <main class="col p-4 text-light ">

      <div class="row col p-4 ">

        <div class="col-6 p-5 dark-bg text-center">
          <div class="container px-5 mb-5">
            <img class="image-sett rounded-circle border border-3 border-opacity-25 border-light shadow "
                src="./../../../../..//public/icons/profile_icon.png"
                alt="Profile" width="80">
            <h6 class="fw-bold text-light mt-3 opacity-75">Admin Account</h6>
          </div>

          <div class="mb-5 px-1 ">
            <h6 class="fw-bold dark-placeholder text-light opacity-75"><i class="bi bi-person px-1"></i>Username:<span class="ps-2"><h4>{{username}}</h4></span></h6><br>
            <h6 class="fw-bold dark-placeholder text-light opacity-75"><i class="bi bi-envelope px-1"></i> Email: <span class="ps-2"><h4>{{email}}</h4></span></h6>
          </div>
       </div>

        <form [formGroup]="changePasswordForm" (ngSubmit)="changeUserPassword()" class="col-6 p-5 dark-bg text-center">
          <div class="mb-4">

            <h3 class="fw-bold text-center p-1">Change Password ?</h3>

            <label class="text-start form-label">Password</label>
            <div class="input-group">
              <span class="input-group-text bg-white border-0 rounded-start-4"><i class="bi bi-lock text-secondary"></i></span>
              <input formControlName="password" type="text" class="form-control rounded-end-4" formControlName="description" placeholder="Ex: jhondoe123">
            </div>

            <label class="form-label mt-4">Password again</label>
            <div class="input-group">
              <span class="input-group-text bg-white border-0 rounded-start-4"><i class="bi bi-lock text-secondary"></i></span>
              <input formControlName="password2" type="text" class="form-control rounded-end-4" formControlName="description" placeholder="Ex: jhondoe123">
            </div>

            <label class="form-label mt-4">New Password</label>
            <div class="input-group">
              <span class="input-group-text bg-white border-0 rounded-start-4"><i class="bi bi-lock text-secondary"></i></span>
              <input formControlName="newPassword"type="text" class="form-control rounded-end-4" formControlName="description" placeholder="Ex: jhondoe123">
            </div>

          </div>

          <button [disabled]="" type="submit"
                  class="w-75 btn btn-lg btn-add text-white fw-bold shadow py-3 transition-all">
            <i class="bi bi-check-circle me-2"></i> Change Password
          </button>

        </form>
      </div>

    </main>
  </div>
</div>
